.btn {
  width: 250px;
  color: #fff;
  border: 1px solid #06b1e7;
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 1px;
  padding: 0 25px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Open Sans';
  text-transform: uppercase;
  cursor: pointer;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
  color: #ffff;
  display: block;
  line-height: 40px;
  position: relative;
  border: 1px solid #06b1e7;
  background: #06b1e7;
}

.feedbackList {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
