.container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 50px;
}

.good_txt {
  color: #3eb743;
  font-size: 32px;
}

.good {
  padding: 8px 16px;
  border: 1px solid #058c0a;
}

.neutral_txt {
  font-size: 24px;
  color: #e7b403;
}

.neutral {
  padding: 8px 16px;
  border: 1px solid #e7b403;
}

.bad_txt {
  font-size: 24px;
  color: #e73535;
}

.bad {
  padding: 8px 16px;
  border: 1px solid #e73535;
}

.total_txt {
  font-size: 24px;
  color: #ffffff;
}

.total {
  padding: 8px 16px;
  border: 1px solid #ffffff;
}

.positive_txt {
  color: #3eb743;
  font-size: 32px;
}

.positive {
  color: #ffffff;
  font-size: 32px;
}

.item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  width: 250px;
  height: 70px;
  padding: 10px;
  justify-content: center;
  border-radius: 4px;
  align-items: center;
  color: #ffffff;
  border: 1 solid #058c0a;
  font-size: 20px;
  font-weight: 700;
  position: relative;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item:hover {
  transform: scale(1.2);
}

.item:last-child {
  width: 450px;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .item {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}
